<html>
<head>
<title>About me</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link href="/stylesheets/about.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
 <body>
    <div class="topnav">
        <a href="/">Home Page</a>
        <a href="/specs">Main Rig Specs</a>
        <a href="/downloads">Download Hub</a>
    </div>
    <div class="content">
  <h1>About me</h1>
 <p>My name is Christian Hiscock, I'm a freelance web developer from Maine. I use the basic HTML5 languages, and I script in C# and Lua.
   This is one of the many projects im working on, including a Discord Bot Munchiez, and another website for the Discord community and 
  Garry's Mod server <a href="https://www.imperiumservers.fun" target="_blank">Imperium of Dragonkind</a>. Feel free to donate to support the site 
  <a href="http://www.paypal.me/ImTotallyNotMessi" target="_blank">here.</a></p>
  <img src="assets/img/selfie.jpg" alt="selfie" length="512" width="512">
  <h2>Check out my Social Media below!</h2>
      <div class="link icons">
       <a href="https://www.twitch.tv/imtotallynotmessi" target="_blank" class="fa fa-twitch"></a>
       <a href="https://www.youtube.com/ImTotallyNotMessi" target="_blank" class="fa fa-youtube"></a>
       <a href="https://www.snapchat.com/add/imtotallymessi" target="_blank" class="fa fa-snapchat-ghost"></a>
       <a href="https://www.instagram.com/messi.gg" target="_blank" class="fa fa-instagram"></a>
       <a href="https://www.twitter.com/V3RTMessi" target="_blank" class="fa fa-twitter"></a>
       <a href="https://www.github.com/ImTotallyNotMessi" target="_blank" class="fa fa-github"></a>
      </div>
    </div>
  <div class="footer">
    <p>Copyright &copy; 2018 Christian Hiscock </p>
  </div>
 </body>
</html>