<html>
<head>
<title>About me</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="/stylesheets/about.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
 <body>
    <div class="topnav">
        <a href="/">Home Page</a>
        <a href="/specs">My Main Rig's Specs</a>
        <a href="/downloads">Download Hub</a>
        <a href="/twitch">My Twitch</a>
        <a href="/youtube">My Youtube</a>
    </div>
    <div class="content"></div>
  <h1>About me</h1>
  <p>The name is Christian, Teenage developer and part-time streamer from Maine.
    This website is currently my only project so far, others will be here soon.</p>
  <img src="assets/img/selfie.jpg" alt="selfie">
  <h2>Skills</h2>
  </div>
  <div class="skills">
    <div class="skill">HTML</div>
  <div class="container">
    <div class="html">95%</div>
  </div>
  <div class="skill">CSS</div>
  <div class="container">
    <div class="css">80%</div>
  </div>
  <div class="skill">JavaScript</div>
  <div class="container">
    <div class="js">50%</div>
  </div>
  <div class="skill">PHP</div>
  <div class="container">
    <div class="php">0%</div>
  </div>
  <div class="footer">
      <p>Copyright &copy; 2018 Christian Hiscock </p>
  </div>
 </body>
</html>