<html>
        <head>
          <title>Download Page</title>
          <meta charset="utf-8">
          <meta name="viewport" content="width=device-width, initial-scale=1">
          <link href="/stylesheets/downloads.css" rel="stylesheet" type="text/css">
        </head>
    <body>
    <div class="topnav">
        <a href="/">Home Page</a>
        <a href="/about">About Me</a>
        <a href="/specs">My Main Rig's Specs</a>
        <a href="/stfu">Just a test page LOL</a>
    </div>
        <h1>Download Hub</h1>
    <ul>
        <li>Download <a href="/files/tyderp.jpg">loltyler1 Derp</a>.</li>
    </ul>
    </body>
</html>