<html>
        <head>
          <title>Download Page</title>
          <meta charset="utf-8">
          <meta http-equiv="X-UA-Compatible" content="IE=edge">
          <meta name="viewport" content="width=device-width, initial-scale=1">
          <link href="/stylesheets/downloads.css" rel="stylesheet" type="text/css">
        </head>
    <body>
    <div class="topnav">
        <a href="/">Home Page</a>
        <a href="/about">About Me</a>
        <a href="/specs">Main Rig Specs</a>
        <a href="/twitch">Twitch</a>
        <a href="/youtube">Youtube</a>
        <a href="/github">GitHub</a>
    </div>
        <h1>Download Hub</h1>
    <ul>
        <li>Download <a href="/files/tyderp.jpg">loltyler1 Derp</a>.</li>
        <li>Download <a href="/files/ali-a.mp4">Ali-A Meme</a>.</li>
    </ul>
    <div class="footer">
        <p>Copyright &copy; 2018 Christian Hiscock </p>
    </div>
    </body>
</html>