<html>
 <head>
   <title>Welcome to Christianpi</title>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link href="/stylesheets/index.css" rel="stylesheet" type="text/css">
 </head>
 <body>
  <h1>Welcome to my personal website!</h1>
  <nav>
   <ul>
     <li><a href="/about">About Christian</a></li>
     <li><a href="/specs">My Main Rig's Specs</a></li>
     <li><a href="/stfu">Just a test page LOL</a></li>
     <li><a href="/downloads">Download Hub</a></li>
   </ul>
  </nav>
  <p>Below you will find your way around the site.
    This is just a personal little site for my own use, 
    test projects and other things. Have Fun :D</p>
 </body>
</html>