<html lang="en">
 <head>
   <title>Welcome to Christianpi</title>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <link href="/stylesheets/index.css" rel="stylesheet" type="text/css">
 </head>
 <body>
    <div class="topnav">
        <a href="/about">About Christian</a>
        <a href="/specs">Main Rig Specs</a>
        <a href="/downloads">Download Hub</a>
        <a href="/twitch">Twitch</a>
        <a href="/youtube">Youtube</a>
        <a href="/github">GitHub</a>
    </div>
    <div class="content">
  <h1>Welcome to my personal website!</h1>
  <p>Well hello there! This is a work in progress, Big thanks to Mr.Eisaman for inspiring me through his
  Coding class to start my own website.</p>
    </div>
    <div class="footer">
        <p>Copyright &copy; 2018 Christian Hiscock</p>
    </div>
 </body>
</html>