<html>
 <head>
   <title>Welcome to Christianpi</title>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link href="/stylesheets/index.css" rel="stylesheet" type="text/css">
 </head>
 <body>
    <div class="topnav">
        <a href="/about">About Christian</a>
        <a href="/specs">My Main Rig's Specs</a>
        <a href="/stfu">Just a test page LOL</a>
        <a href="/downloads">Download Hub</a>
    </div>
    <div class="content">
  <h1>Welcome to my personal website!</h1>
  <p>Below you will find your way around the site.
    This is just a personal little site for my own use, 
    test projects and other things. Have Fun :D</p>
    </div>
    <div class="footer">
        <p>Copyright &copy; 2018 Christian Hiscock </p>
    </div>
 </body>
</html>