<html>
    <head>
        <title>Current Projects</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link href="/stylesheets/projects.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div class="topnav">
            <a href="/about">About Christian</a>
            <a href="/specs">Main Rig Specs</a>
            <a href="/downloads">Download Hub</a>
        </div>
        <div class="content">
            <h1>Projects I am currently working on!</h1>
            
        </div>
        <div class="footer">
            <p>Copyright &copy; 2018 Christian Hiscock</p>
        </div>
    </body>
</html>