<!DOCTYPE html>
<html>
    <head>
        <title>Tyni</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
				<link rel="stylesheet" href="https://unpkg.com/wingcss@1.0.0-beta/dist/wing.min.css"/>
				<link rel="stylesheet" href="style.css">
    </head>
    <body>
				<h1>Tyni</h1>
				<h3>The hassle free url shortener</h3>
				<h4></h4>
				<form onsubmit="shorten(event)">
					<input id="url" type="text" placeholder="🌐 Paste in the link" required>
					<br>
					<input id="key" type="text" placeholder="📁 A custom path? (optional)">
					<br>
					<button class="outline">Shorten 🔗</button>
				</form>
				<br><br>
        <script type="text/javascript" src="tyni.js"></script>
    </body>
    
</html>