h1 {
    color: red;
}

* {box-sizing:border-box}

.container {
    width: 100%;
    background-color: #ddd;
}

.skills {
    text-align: right;
    padding-right: 20px;
    line-height: 40px;
    color: white;
}

.html {width: 85%; background-color: #4CAF50;}
.css {width: 85%; background-color: #2196F3;}
.js {width: 50%; background-color: #f44336;}
.php {width: 10%; background-color: #808080;}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    }

.fa-youtube {
    background: #bb0000;
    color: white;
    }

.fa-twitter {
    background: #55ACEE;
    color: white;
    }

.fa-instagram {
    background: #125688;
    color: white;
    }

.fa-snapchat-ghost {
    background: #fffc00;
    color: #FFFFFF;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    }

.fa-twitch {
    background: #6441a5;
    color: #000000;
    }