* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;    
}

.topnav {
    overflow: hidden;
    background-color: rgb(51, 51, 51);
    text-align: center;
}

.topnav a {
    float: left;
    display: block;
    color: rgb(242, 242, 242);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav a:hover {
    background-color: rgb(221, 221, 221);
    color: rgb(0, 0, 0);
}

.content {
    background-color: rgb(128, 0, 0);
    padding: 10px;
    text-align: center;
}

.footer {
    font-size: 13px;
    font-weight: bold;
    padding: 10px;
    position: absolute;
    bottom: 0;
    background-color: rgb(128, 0, 0);
}

.projects {
    padding-top: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    position: left;        
    }
    
.container1, .container2 {
    padding: 2px 16px;
    }
    
img {
    border-radius: 7px 7px 7px 7px;
    }

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    }

.fa:hover {
    opacity: 0.7;
    }

.fa-youtube {
    background: rgb(187, 0, 0);
    color: rgb(255, 255, 255);
    }

.fa-twitter {
    background: rgb(85, 172, 238);
    color: rgb(255, 255, 255);
    }

.fa-instagram {
    background: rgb(18, 86, 136);
    color: rgb(255, 255, 255);
    }

.fa-snapchat-ghost {
    background: rgb(255, 252, 0);
    color: rgb(255, 255, 255);
    text-shadow: -1px 0 rgb(0, 0, 0), 0 1px rgb(0, 0, 0), 1px 0 rgb(0, 0, 0), 0 -1px rgb(0, 0, 0);
    }

.fa-twitch {
    background: rgb(100, 65, 165);
    color: rgb(255, 255, 255);
    }

.fa-github {
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}