* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-weight: bold;
}

h2 {
    font-weight: bold;
}

body {
    margin: 0;
}

.container {
    width: 100%;
    background-color: rgb(221, 221, 221);
}

.skill {
    color: rgb(0, 0, 0);
}

.skills {
    text-align: left;
    padding-right: 20px;
    line-height: 40px;
    color: rgb(0, 0, 0);
}

.html {
    width: 95%;
    background-color: rgb(255, 115, 0);
    }
.css {
    width: 80%;
    background-color: rgb(6, 91, 178);
    }

.js {
    width: 50%;
    background-color: rgb(242, 21, 5);
    }

.php {
    width: 0%;
    background-color: rgb(128, 128, 128);
    }

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    }

.fa-youtube {
    background: rgb(187, 0, 0);
    color: rgb(255, 255, 255);
    }

.fa-twitter {
    background: rgb(85, 172, 238);
    color: rgb(255, 255, 255);
    }

.fa-instagram {
    background: rgb(18, 86, 136);
    color: rgb(255, 255, 255);
    }

.fa-snapchat-ghost {
    background: rgb(255, 252, 0);
    color: rgb(255, 255, 255);
    text-shadow: -1px 0 rgb(0, 0, 0), 0 1px rgb(0, 0, 0), 1px 0 rgb(0, 0, 0), 0 -1px rgb(0, 0, 0);
    }

.fa-twitch {
    background: rgb(100, 65, 165);
    color: rgb(0, 0, 0);
    }